{{#if filtered}} <div draggable="true"> {{else}} <div hidden draggable="true"> {{/if}}
    <li class="friend" id="{{index}}" ffff={{filtered}}>
        <div class="img-wrapper">
            <img src="{{photo_100}}" alt=""/>
        </div>
        <div class="name">{{firstName}} {{lastName}}</div>
        <i class="fa {{#if selected}}fa-times{{else}}fa-plus{{/if}}"></i>
    </li>
</div>